<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: body (~{::section})">

<section>

<h3 class="mb-3">Transaction History</h3>

<p><strong>Account No:</strong> <span th:text="${account.accountNumber}"></span></p>
<p><strong>Customer:</strong> <span th:text="${account.customerName}"></span></p>

<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Amount (₹)</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="t : ${transactions}">
            <td th:text="${#temporals.format(t.transactionTime,'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${t.type}"></td>
            <td th:text="${t.amount}"></td>
        </tr>
    </tbody>
</table>

<a th:href="@{/official/accounts}" class="btn btn-secondary mt-3">Back</a>

</section>
</html>
